:root{
  --header-height: attr(height)
}
.App {
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}
.canvas-container{
   border: 1px solid rgb(113, 113, 113);

}
.frame{
  border: 15px inset;
}
.frame-edge{
  border:4px solid black;

  max-height:calc(100vh - 60px);
  width: calc(100vw - 60px);
  margin:auto;
  margin-top:25px;
 
}
.frame-title{
  margin:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding:20px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}
.canvas {
  /* float: left!important; */
  height:42vw!important;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
